body{
	background:#aabbcc;
}

.loginDiv{
	background:white url(/english/web/images/divback.jpg);
	width:600px;
	border:1px dashed gray;
	border-radius:15px;
	padding:20px;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}